force-app/main/default/flows/Internal_Task_Assistance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_for_Engineering</name>
        <label>Chatter for Engineering</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_for_Prod_Planning</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_to_Engineering</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Chatter_for_Prod_Planning</name>
        <label>Chatter for Prod Planning</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Reset_Eng_PP_Complete_Flags</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_to_Production_Planning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Reset_Eng_PP_Complete_Flags</name>
        <label>Reset Eng &amp; PP Needed &amp; Complete Flags</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>GetITRecords.Eng_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetITRecords.Production_Planning_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetITRecords.Engineering_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetITRecords.Production_Planning_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_IT_Complete_Flags</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Engineering_Sales_Support</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Engineering Sales Support&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engineering Sales Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Production_Planning</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Production Planning&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Production Planning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Eng_Needed</name>
        <label>Is Eng Needed?</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ONLY_Eng_is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_for_Eng_Values</targetReference>
            </connector>
            <label>ONLY Eng is Needed</label>
        </rules>
        <rules>
            <name>ONLY_Prod_Planning_is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_for_PP_Values</targetReference>
            </connector>
            <label>ONLY Prod Planning is Needed</label>
        </rules>
        <rules>
            <name>BOTH_ENG_and_Prod_Planning_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_for_BOTH_Eng_and_PP_Values</targetReference>
            </connector>
            <label>BOTH ENG and Prod Planning Needed</label>
        </rules>
    </decisions>
    <description>Update to hard code the Decision if BOTH PP and Eng selected</description>
    <interviewLabel>Internal Task Assistance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Task Assistance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetITRecords</name>
        <label>GetITRecords</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Assistance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Internal_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IT_Complete_Flags</name>
        <label>Update IT Complete Flags</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Is_Eng_Needed</targetReference>
        </connector>
        <inputReference>GetITRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will first go to Eng and then in the Eng Complete button, it will go to Prod Planning</description>
        <name>Update_IT_for_BOTH_Eng_and_PP_Values</name>
        <label>Update IT for BOTH Eng and PP Values</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Eng Sales Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Engineering Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IT_for_Eng_Values</name>
        <label>Update IT for Eng Values</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <elementReference>Engineering_Sales_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Engineering Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IT_for_PP_Values</name>
        <label>Update IT for PP Values</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Production Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eng_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Production Planning Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <screens>
        <name>Request_Assistance</name>
        <label>Request Assistance</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chatter_for_Engineering</targetReference>
        </connector>
        <fields>
            <name>What_group_do_you_need_assistance_from</name>
            <choiceReferences>Engineering_Sales_Support</choiceReferences>
            <choiceReferences>Production_Planning</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What group do you need assistance from?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This is a multi-select picklist. You can choose both options if needed.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_to_Engineering</name>
            <fieldText>Comments to Engineering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_to_Production_Planning</name>
            <fieldText>Comments to Production Planning</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetITRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
