force-app/main/default/flows/Internal_Task_Eng_Complete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assigned_to_Inside_Sales</name>
        <label>Assigned to Inside Sales</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Assigned to Inside Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Assigned_to_Prod_Planning</name>
        <label>Assigned to Prod Planning</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Assigned to Production Planning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Eng_Work_Complete</name>
        <label>Eng Work Complete</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Prod_Planning_Needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Engineering Work Complete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GetITRecords.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Check Prod Planning Flag</description>
        <name>Is_Prod_Planning_Needed</name>
        <label>Is Prod Planning Needed?</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prod_Planning_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetITRecords.Production_Planning_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_Prod_Planning_Values</targetReference>
            </connector>
            <label>Prod Planning Needed</label>
        </rules>
        <rules>
            <name>Prod_Planning_NOT_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetITRecords.Production_Planning_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedQuote</targetReference>
            </connector>
            <label>Prod Planning NOT Needed</label>
        </rules>
    </decisions>
    <interviewLabel>Internal Task Eng Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Task Eng Complete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetITRecords</name>
        <label>GetITRecords</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Engineering_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Internal_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedQuote</name>
        <label>GetRelatedQuote</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IT_Assign_Back_to_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetITRecords.Quote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IT_Assign_Back_to_Sales</name>
        <label>Update IT - Assign Back to Sales</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Inside Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_to__c</field>
            <value>
                <elementReference>GetRelatedQuote.Inside_Sales_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Review Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IT_Eng_Flags</name>
        <label>Update IT - Eng Flags</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Eng_Work_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Eng_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the flags for Status and Assigned Team</description>
        <name>Update_IT_Prod_Planning_Values</name>
        <label>Update IT - Assign Prod Planning</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assigned_to_Prod_Planning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Production Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Production Planning Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assigned_to_Inside_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRelatedQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Ready for Review</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Complete_Engineering_Review</name>
        <label>Complete Engineering Review</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_IT_Eng_Flags</targetReference>
        </connector>
        <fields>
            <name>CompletionMessage</name>
            <fieldText>&lt;p&gt;Thank you for completing the Engineering work!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetITRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
