force-app/main/default/flows/Internal_Task_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Chatter_for_Engineering</name>
        <label>Chatter for Engineering</label>
        <locationX>1238</locationX>
        <locationY>926</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_for_Prod_Planning</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_to_Engineering</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Create_IT_Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Chatter_for_Prod_Planning</name>
        <label>Chatter for Prod Planning</label>
        <locationX>1238</locationX>
        <locationY>1046</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Is_Eng_Needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Comments_to_Production_Planning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Create_IT_Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Quote_to_Locked</name>
        <label>Set Quote to Locked</label>
        <locationX>2954</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Lock_This_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Support (Locked)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_to_Locked_0</name>
        <label>Set Quote to Locked</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Lock_This_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Support (Locked)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_to_Locked_0_0</name>
        <label>Set Quote to Locked</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Lock_This_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Support (Locked)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_to_Locked_0_0_0</name>
        <label>Set Quote to Locked</label>
        <locationX>1634</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.Lock_This_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuoteRecord.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Support (Locked)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Engineering_Sales_Support</name>
        <choiceText>Engineering Sales Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eng Sales Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Production_Planning</name>
        <choiceText>Production Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Production Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>PartnerProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CDC Partner Community Users Profile</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_an_IT_Record_Exist_already</name>
        <label>Does an IT Record Exist already?</label>
        <locationX>2336</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>What_do_you_need_Assistance_with</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesITExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteRecord.Count_Internal_Task_Records__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Task_Already_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Eng_Needed</name>
        <label>Is Eng Needed?</label>
        <locationX>1238</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ONLY_Eng_is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_for_Eng_Values</targetReference>
            </connector>
            <label>ONLY Eng is Needed</label>
        </rules>
        <rules>
            <name>ONLY_Prod_Planning_is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_PP_Values</targetReference>
            </connector>
            <label>ONLY Prod Planning is Needed</label>
        </rules>
        <rules>
            <name>BOTH_ENG_and_Prod_Planning_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Engineering_Sales_Support</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_group_do_you_need_assistance_from</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Production_Planning</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IT_for_BOTH_Eng_and_PP_Values</targetReference>
            </connector>
            <label>BOTH ENG and Prod Planning Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Internal_Or_Community_User</name>
        <label>Is User Internal Or Community User?</label>
        <locationX>2492</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PartnerProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Helper</targetReference>
            </connector>
            <label>Internal User</label>
        </rules>
        <rules>
            <name>External_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PartnerProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Internal_Task_Record_0</targetReference>
            </connector>
            <label>External User</label>
        </rules>
    </decisions>
    <description>Made Chatter posts on second screen flow. Created IT before Eng Decision, then updated that IT after the fact

Decision added for existing IT record</description>
    <dynamicChoiceSets>
        <name>AssignedTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Assigned_Team__c</picklistField>
        <picklistObject>Internal_Task__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IT_Subject_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subject__c</picklistField>
        <picklistObject>Internal_Task__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Select Affected Quote Line</description>
        <name>QuoteLine_Selection</name>
        <dataType>String</dataType>
        <displayField>QuoteLineNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>QuoteLineNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>Shutdown_Set_Due_Date</name>
        <dataType>Date</dataType>
        <expression>IF({!Is_this_a_Shutdown_situation}={!Yes},TODAY()+1,Today()+7)</expression>
    </formulas>
    <formulas>
        <description>Setting Due Date to TODAY + 3 if it&apos;s not a Shutdown</description>
        <name>ShutdownSetDueDate_Internal</name>
        <dataType>Date</dataType>
        <expression>IF({!Is_this_a_Shutdown_situation}={!Yes},TODAY()+1,Today()+3)</expression>
    </formulas>
    <formulas>
        <description>Find the User&apos;s Profile</description>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <interviewLabel>Internal Task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Task Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Internal_Task_Record_0</name>
        <label>Create Internal Task Record</label>
        <locationX>2954</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Set_Quote_to_Locked</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Inside Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_to__c</field>
            <value>
                <elementReference>GetQuoteRecord.Inside_Sales_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>IT_Comments_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Shutdown_Set_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>IT_Subject_Selection</elementReference>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IT_Record</name>
        <label>Create IT Record</label>
        <locationX>1238</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Chatter_for_Engineering</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>IT_Comments_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>ShutdownSetDueDate_Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>IT_Subject_Selection</elementReference>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetQuoteRecord</name>
        <label>GetQuoteRecord</label>
        <locationX>2492</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_an_IT_Record_Exist_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>2492</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Internal_Or_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lock_Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will first go to Eng and then in the Eng Complete button, it will go to Prod Planning</description>
        <name>Update_IT_for_BOTH_Eng_and_PP_Values</name>
        <label>Update IT for BOTH Eng and PP Values</label>
        <locationX>1634</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Set_Quote_to_Locked_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_IT_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Eng Sales Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Engineering Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IT_for_Eng_Values</name>
        <label>Update IT for Eng Values</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Set_Quote_to_Locked_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_IT_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <elementReference>Engineering_Sales_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Engineering Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IT_PP_Values</name>
        <label>Update IT PP Values</label>
        <locationX>842</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Set_Quote_to_Locked_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_IT_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Production Planning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eng_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Planning_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Production Planning Process</stringValue>
            </value>
        </inputAssignments>
        <object>Internal_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>2954</locationX>
        <locationY>926</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0</name>
        <label>Update Quote</label>
        <locationX>842</locationX>
        <locationY>1526</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0_0</name>
        <label>Update Quote</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_0_0_0</name>
        <label>Update Quote</label>
        <locationX>1634</locationX>
        <locationY>1526</locationY>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>GetQuoteRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Assignment_Helper</name>
        <label>Assignment Helper</label>
        <locationX>1238</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_IT_Record</targetReference>
        </connector>
        <fields>
            <name>What_group_do_you_need_assistance_from</name>
            <choiceReferences>Engineering_Sales_Support</choiceReferences>
            <choiceReferences>Production_Planning</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What group do you need assistance from?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;This is a multi-select picklist. You can choose both options if needed.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments_to_Engineering</name>
            <fieldText>Comments to Engineering</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments_to_Production_Planning</name>
            <fieldText>Comments to Production Planning</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Internal_Task_Already_Exists</name>
        <label>Internal Task Already Exists</label>
        <locationX>2171</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;An Internal Task already exists, please go back to that Internal Task record and update it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_do_you_need_Assistance_with</name>
        <label>What do you need Assistance with?</label>
        <locationX>2492</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <fields>
            <name>IT_Subject_Selection</name>
            <choiceReferences>IT_Subject_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What do you need assistance with?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IT_Comments_Input</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_this_a_Shutdown_situation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Is this a Shutdown situation?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2366</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetQuoteRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
