force-app/main/default/flows/Time_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_End_time</name>
        <label>Assign End time</label>
        <locationX>50</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>Loop_Prior_Status.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_time_0</name>
        <label>Assign End time</label>
        <locationX>1761</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>Loop_Prior_Status_0.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_To_Update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_time_0_0</name>
        <label>Assign End time</label>
        <locationX>1058</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Loop_Prior_Status_0_0.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigned_To_Update_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_To_Update</name>
        <label>Assigned To Update</label>
        <locationX>70</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>SOC_TimeTrackingToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prior_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prior_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_To_Update_0</name>
        <label>Assigned To Update</label>
        <locationX>1754</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>SOC_TimeTrackingToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prior_Status_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prior_Status_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_To_Update_0_0</name>
        <label>Assigned To Update</label>
        <locationX>1058</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>SOC_TimeTrackingToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Prior_Status_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Prior_Status_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Engineering_Status_Changed</name>
        <label>Engineering Status Changed?</label>
        <locationX>776</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesEngStatusChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engineering_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Engineering_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenEngineeringTT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Status_Changed</name>
        <label>Has Status Changed</label>
        <locationX>833</locationX>
        <locationY>616</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenISRTT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Found</name>
        <label>Open TT Found</label>
        <locationX>403</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Create_Eng_Time_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create New</defaultConnectorLabel>
        <rules>
            <name>YesOpenTracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenEngineeringTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Closed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>FOR_EngineeringStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FOR_EngineeringStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpenEngineeringTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status</targetReference>
            </connector>
            <label>No - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Found_0</name>
        <label>Open TT Found</label>
        <locationX>1440</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>Create_PP_Time_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create New</defaultConnectorLabel>
        <rules>
            <name>YesOpenTracker_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenProdPlanTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status_PP</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Closed_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>FOR_ProdPlanStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FOR_ProdPlanStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpenProdPlanTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status_PP</targetReference>
            </connector>
            <label>No - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Found_1</name>
        <label>Open TT Found</label>
        <locationX>756</locationX>
        <locationY>990</locationY>
        <defaultConnector>
            <targetReference>Create_ISR_Time_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create New</defaultConnectorLabel>
        <rules>
            <name>YesOpenTracker_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpenISRTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status_ISR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Closed_0_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>FOR_StatusForISRs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FOR_StatusForISRs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpenISRTT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Prior_Status_ISR</targetReference>
            </connector>
            <label>No - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Time_Found</name>
        <label>Prior Time Found</label>
        <locationX>238</locationX>
        <locationY>855</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriorTimeFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Prior_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Time_Found_0</name>
        <label>Prior Time Found</label>
        <locationX>1894</locationX>
        <locationY>822</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriorTimeFound_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Status_PP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Prior_Status_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Time_Found_0_0</name>
        <label>Prior Time Found</label>
        <locationX>1013</locationX>
        <locationY>1075</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPriorTimeFound_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prior_Status_ISR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Prior_Status_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prod_Planning_Status_Changed</name>
        <label>Prod Planning Status Changed?</label>
        <locationX>1304</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPPStatusChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Production_Planning_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Production_Planning_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpenProdPlanTT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Tracking_Path</name>
        <label>Time Tracking Path</label>
        <locationX>994</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engineering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engineering_Status_Changed</targetReference>
            </connector>
            <label>Engineering</label>
        </rules>
        <rules>
            <name>Prod_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Production Planning Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prod_Planning_Status_Changed</targetReference>
            </connector>
            <label>Prod Planning</label>
        </rules>
        <rules>
            <name>Inside_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Status_Changed</targetReference>
            </connector>
            <label>Inside Sales</label>
        </rules>
    </decisions>
    <description>Record Trigger from Internal Task
Adding ISR decision wing</description>
    <formulas>
        <name>FOR_EngineeringStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Engineering_Status__c}, 
&quot;New&quot;, &quot;Eng - New&quot;,
&quot;In Review&quot;, &quot;Eng - In Review&quot;,
&quot;In Progress&quot;, &quot;Eng - In Progress&quot;,
&quot;On Hold - Config Issue&quot;, &quot;Eng - On Hold - Config Issue&quot;,
&quot;On Hold - Sales Assistance&quot;, &quot;Eng - On Hold - Sales Assistance&quot;,
&quot;Return from Sales&quot;, &quot;Eng - Return from Sales&quot;,
&quot;External Information Needed&quot;, &quot;Eng - External Information Needed&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Abandoned&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>FOR_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>FOR_PriorEngineeringStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Engineering_Status__c}, 
&quot;New&quot;, &quot;Eng - New&quot;,
&quot;In Review&quot;, &quot;Eng - In Review&quot;,
&quot;In Progress&quot;, &quot;Eng - In Progress&quot;,
&quot;On Hold - Config Issue&quot;, &quot;Eng - On Hold - Config Issue&quot;,
&quot;On Hold - Sales Assistance&quot;, &quot;Eng - On Hold - Sales Assistance&quot;,
&quot;Return from Sales&quot;, &quot;Eng - Return from Sales&quot;,
&quot;External Information Needed&quot;, &quot;Eng - External Information Needed&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Abandoned&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>FOR_PriorProdPlanStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Production_Planning_Status__c},
&quot;New&quot;, &quot;PP - New&quot;,
&quot;In Process&quot;, &quot;PP - In Process&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>FOR_PriorStatusForISRs</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.Status__c},
&quot;Inside Sales Process&quot;, &quot;Inside Sales Process&quot;,
&quot;Review Quote&quot;, &quot;Review Quote&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>FOR_ProdPlanStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Production_Planning_Status__c},
&quot;New&quot;, &quot;PP - New&quot;,
&quot;In Process&quot;, &quot;PP - In Process&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <formulas>
        <name>FOR_StatusForISRs</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Status__c},
&quot;Inside Sales Process&quot;, &quot;Inside Sales Process&quot;,
&quot;Review Quote&quot;, &quot;Review Quote&quot;,
&quot;Completed&quot;, &quot;Completed&quot;,
&quot;Not Found&quot;)</expression>
    </formulas>
    <interviewLabel>Time Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Tracking</label>
    <loops>
        <name>Loop_Prior_Status</name>
        <label>Loop Prior Status ENG</label>
        <locationX>342</locationX>
        <locationY>645</locationY>
        <collectionReference>Get_Prior_Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Open_TT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prior_Status_0</name>
        <label>Loop Prior Status PP</label>
        <locationX>1943</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Prior_Status_PP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_time_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Open_TT_PP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Prior_Status_0_0</name>
        <label>Loop Prior Status ENG</label>
        <locationX>1239</locationX>
        <locationY>879</locationY>
        <collectionReference>Get_Prior_Status_ISR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_End_time_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Open_TT_ISR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Eng_Time_Tracker</name>
        <label>Create Eng Time Tracker</label>
        <locationX>395</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_Prior_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Task__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>FOR_EngineeringStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ISR_Time_Tracker</name>
        <label>Create ISR Time Tracker</label>
        <locationX>655</locationX>
        <locationY>1164</locationY>
        <connector>
            <targetReference>Get_Prior_Status_ISR</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Task__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>FOR_StatusForISRs</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PP_Time_Tracker</name>
        <label>Create PP Time Tracker</label>
        <locationX>1663</locationX>
        <locationY>1266</locationY>
        <connector>
            <targetReference>Get_Prior_Status_PP</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_Task__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>FOR_ProdPlanStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Prior_Status</name>
        <label>Get Prior Status ENG TT</label>
        <locationX>83</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Time_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_PriorEngineeringStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Status_ISR</name>
        <label>Get Prior Status ISR TT</label>
        <locationX>882</locationX>
        <locationY>1165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Time_Found_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_PriorProdPlanStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prior_Status_PP</name>
        <label>Get Prior Status PP TT</label>
        <locationX>1868</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Time_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_PriorProdPlanStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenEngineeringTT</name>
        <label>GetOpenEngineeringTT</label>
        <locationX>605</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_EngineeringStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenISRTT</name>
        <label>GetOpenISRTT</label>
        <locationX>841</locationX>
        <locationY>784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Found_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_StatusForISRs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenProdPlanTT</name>
        <label>GetOpenProdPlanTT</label>
        <locationX>1453</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FOR_ProdPlanStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_empty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Open_TT</name>
        <label>Close Open TT</label>
        <locationX>344</locationX>
        <locationY>413</locationY>
        <inputReference>SOC_TimeTrackingToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Open_TT_ISR</name>
        <label>Close Open TT</label>
        <locationX>1242</locationX>
        <locationY>603</locationY>
        <inputReference>SOC_TimeTrackingToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Open_TT_PP</name>
        <label>Close Open TT</label>
        <locationX>1957</locationX>
        <locationY>353</locationY>
        <inputReference>SOC_TimeTrackingToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>876</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Time_Tracking_Path</targetReference>
        </connector>
        <object>Internal_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SOC_TimeTrackingToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Tracker__c</objectType>
    </variables>
    <variables>
        <name>VAR_empty</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
